@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');



/* === main === */

/* === image section === */

/* === content section === */

/* === footer === */

/* === Responsive for Mobile device ==== */




/* =****************************************= */

:root {
    /* Layout */

        /* The designs were created to the following widths: */
        --Mobile: 375px;
        --Desktop: 1440px;

    /* Colors */

        /* Primary */
        --Dark-cyan: hsl(158, 36%, 37%);
        --Cream: hsl(30, 38%, 92%);
        
        /* Neutral */
        --Dark-blue-cyan: hsl(158, 37%, 20%);

        --Very-dark-blue: hsl(212, 21%, 14%);
        /* --Dark-grayish-blue: hsl(228, 12%, 48%); */
        --Dark-grayish-blue: hsl(227, 5%, 61%);
        --White: hsl(0, 0%, 100%);

    /* Typography */
        /* Body Copy */
        --paragraph-size: 14px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: var(--Cream);
    display: grid;
    min-height: 100dvh;
    place-items: center;
}

/* ================ main =============== */
main {
    width: 600px;
    height: 450px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

/* =========== image section =========== */
main .img-section {
    width: 50%;
}
main .img-section img {
    width: 100%;
    filter:
    brightness(0.90)
    contrast(1.10);
}
main .img-section .mobileImg {
    display: none;
}

/* ========== content section ========== */
main section {
    width: 50%;
    padding: 32px;
    background: #fff;
}
main section h3 {
    text-transform: uppercase;
    letter-spacing: 4.8px;
    font-size: 12px;
    margin-top: 0px;
    margin-left: -1px;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
}
main section h1 {
    margin-top: 21px;
    font-size: 32px;
    line-height: 1;
    font-family: 'Fraunces', serif;
    letter-spacing: -0.3px;
    margin-right: 10px;
}
main section p {
    font-size: 14px;
    color: var(--Dark-grayish-blue);
    margin-top: 24px;
    line-height: 1.65;
    font-weight: 700;
    letter-spacing: -0.2px;
}
main section h2 {
    margin-top: 26px;
    color: var(--Dark-cyan);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 31px;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
}
main section h2 span{
    font-size: 12px;
    margin-left: 20px;
    letter-spacing: 0px;
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
}
main section button {
    color: #fff;
    background: var(--Dark-cyan);
    width: 100%;
    padding: 15.5px;
    border-radius: 10px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    margin-top: 26px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .05px;
    font-family: 'Montserrat', sans-serif;
}
main section button:hover,
main section button:focus {
    background: var(--Dark-blue-cyan);
}
main section button img {
    margin-right: 10px;
}

/* =============== footer ============== */
.attribution {
    margin-top: 5px;
    font-size: 10px; 
    text-align: center;
    color: var(--Dark-grayish-blue);
}
.attribution a {
    color: var(--Dark-cyan);
}

/* === Responsive for Mobile device ==== */
@media screen and (max-width: 800px){
    body{
        background: white;
        display: flex;
        align-items: flex-start;
        width: 100vw;
        max-width: 100vw;
    }
    main {
        margin: 0;
        border-radius: 0;
        width: 100%;
        max-width: 100vw;
        height: auto;
        flex-direction: column;
    }
    main .img-section,
    main section{
        width: 100%;
    }

    main .img-section .mobileImg {
        display: block;
    }
    main .img-section .desktopImg {
        display: none;
    }

    main section {
        padding: 25px;
    }
    main section h1 {
        margin-top: 15px;
        font-size: 32px;
    }
    main section p {
        margin-top: 13px;
        font-size: 14px;
    }
    main section h2 {
        margin-top: 20px;
        font-size: 32px;
    }
    main section h2 span{
        margin-left: 15px;
    }
    main section button {
        margin-top: 17px;
        height: 48px;
        font-size: 14px;
    }
    .attribution {
        margin-top: 15px;
    }
}
